<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pa.resilienciacomunitaria.org.wordvision" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/resil"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VerPrimerosAuxilios"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_activity_ver_primeros_auxilios" >
            <meta-data
                android:name="android.support.v4.PARENT_ACTIVITY"
                android:value="pa.resilienciacomunitaria.org.wordvision.ThreeFragment"
                />
        </activity>
    </application>

</manifest>
