<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pa.resilienciacomunitaria.org.worldvision" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >

        <!--android:screenOrientation="portrait"-->
        <activity
            android:name="pa.resilienciacomunitaria.org.worldvision.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity
            android:name="pa.resilienciacomunitaria.org.worldvision.VerPrimerosAuxilios"
            android:label="@string/title_activity_ver_primeros_auxilios"
            android:parentActivityName="pa.resilienciacomunitaria.org.worldvision.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="pa.resilienciacomunitaria.org.worldvision.VerInfoPrimerosAuxilios"
            android:label="@string/title_activity_ver_info_primeros_auxilios"
            android:parentActivityName="pa.resilienciacomunitaria.org.worldvision.MainActivity" >
        </activity>
        <activity
            android:name="pa.resilienciacomunitaria.org.worldvision.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="pa.resilienciacomunitaria.org.worldvision.InscribiseActivity"
            android:label="@string/title_activity_inscribise"
            android:parentActivityName="pa.resilienciacomunitaria.org.worldvision.MainActivity" >
        </activity>
        <service android:name="pa.resilienciacomunitaria.org.worldvision.GuardarParticipantesService">
        </service>


    </application>

</manifest>
